@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Neucha", cursive;
  color: #000;
}
